@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-image: linear-gradient(80deg, #00cc99, #6600ff);
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
