.left-menu {
  background-image: linear-gradient(to bottom, #0442BF, #022859);
  color: #f2e7dc;;
  height: 100vh;
  width: 0;
  position: fixed;
  transition: width 0.5s ease-in-out;
  border-right: 4px ridge #f2e7dc;
  

  .menu-icon {
    cursor: pointer;
    width: 4rem;
    position: absolute;
    right: -2.9rem;
    top: 40%;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu-content {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;

    .username {
        font-style: italic;

    }

    button {
        background-color: transparent;
        border: none;
        color: #f2e7dc;
        font-style: italic;
    }
  }

  nav {
    height: 70vh;
    padding-left: 1rem;

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #fff;

        .logout {
          border: 2px #f2e7dc;
          border-style: outset;
          width: 50%;
          border-radius: 1rem;
          padding: 0 .5rem;
        }
    }
  }
}

.left-menu.active {
  width: 23rem;

  .menu-content {
    opacity: 1;
  }
}

.left-menu.active + .main-home {
  margin-left: 25rem;
}
