.left-menu {
  background-image: linear-gradient(to bottom, #0442bf, #022859);
  color: #f2e7dc;
  height: 100vh;
  width: 0;
  position: fixed;
  transition: width 0.5s ease-in-out;
  border-right: 4px ridge #f2e7dc;

  .menu-icon {
    cursor: pointer;
    width: 4rem;
    position: absolute;
    right: -2.9rem;
    top: 40%;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu-content {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .username {
      font-style: italic;
    }

    p {
      color: #f2e7dc;
      font-style: italic;
      font-weight: lighter;
    }
  }

  nav {
    height: 70vh;
    padding-left: 1rem;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      color: #fff;

      li {
        display: flex;
        align-items: center;
        gap: .5rem;

        a {
          color:#f2e7dc;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }

        img {
          width: 100%;
          max-width: 2rem;
        }
      }
    }
  }
}

.left-menu.active {
  width: 23rem;

  .menu-content {
    opacity: 1;
  }
}

.left-menu.active + .main-home {
  margin-left: 25rem;
}
