@import "../../sass/grid";

.main-home {
  height: 100vh;
  transition: margin-left 0.5s ease-in-out;
  padding: 0 1rem;

  img {
    cursor: pointer;
  }

  .info-home {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include device("s") {
      margin-bottom: 4vh;
    }

    .logo {
      display: flex;
      align-items: center;

      font-size: 3rem;
      color: #f2e7dc;
      text-shadow: 0 0 1rem rgba(0, 0, 0, 0.499);

      @include device("s") {
        font-size: 2rem;
      }

      img {
        width: 100%;
        max-width: 7rem;

        @include device("s") {
          max-width: 5rem;
        }
      }
    }

    .input-box {
      display: flex;
      align-items: center;
      gap: 2rem;

      .create {
        @include device("s") {
          display: none;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;

        input {
          width: 100%;
          height: 3rem;
          padding: 0 1rem;
          border-radius: 1rem;
          border: none;
          outline: none;
          background-color: #f2e7dc;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);

          @include device("s") {
            width: 50%;
          }

          &::placeholder {
            color: #000;
            font-weight: bold;
          }
        }

        img {
          width: 100%;
          max-width: 3rem;
        }
      }
    }
  }
}

.table-container {
  width: 100%;
  height: 80vh;
  overflow: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.38);

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: #f2e7dc;
  }

  &::-webkit-scrollbar-thumb {
    background: #0442bf;
  }
}

thead {
  background-image: linear-gradient(to bottom, #0442bf, #022859);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);
  position: sticky;
  top: -1px;
}

table {
  background-color: #f2e7dc;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

td {
  border-bottom: 2px ridge #f2e7dc;
  .modal {
    width: 100%;
    max-width: 2rem;
  }
}
