.error-message {
    color: red;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
    width: 100%;
}